################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Trabalho_BD_IHC/obj/Debug
/Trabalho_BD_IHC/bin/Debug
